@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.ttf') format('ttf');    
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins-Light.ttf') format('ttf');    
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Poppins-Thin.ttf') format('ttf');    
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Poppins-Medium.ttf') format('ttf');    
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Poppins-SemiBold.ttf') format('ttf');    
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.ttf') format('ttf');    
  }


.wapper{
    width: 100%;
    margin: 0;
    padding: 0;
    background:#fff;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background:#F7FAFF;
    font-style:normal;
}




/* login page */
.login-box{
    width:100%;    
    display:flex;
    flex-direction: row;
    height: calc(100vh - 95px);   
    background: linear-gradient(to right,
    #E1DEDE 20%, #E1DEDE 20% 40%, #ffffff 40% 60%, #ffffff 60% 80%, #ffffff 80%);
}
.left-login{
    width:40%;   
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left:25px;
    padding-right: 25px;
}


.right-login{
    width:60%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;       
}
.right-login form{
    max-width: 500px;
    margin:auto;
}
.heading{
    width: 100%;
    font-size: 1.5rem;
    color:#AC003A;
    line-height: 1.5;
    text-align: center;
}
.btn-login{
    /*
    height: 50px;
    background:#2A338E;
    border:#1301FC solid 1px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
        */
    width:100%;
    background-color:#007bff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .btn-login:hover {
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
         background-color: #111e81; 
    }






ul.img-box{
    width:100%;
    margin:0 auto;    
    padding: 10px 15px;
    list-style: none;
    display:inline-block;   
}
ul.img-box li{
    display:inline-block;
}
ul.img-box li:nth-child(1) img{
    /* height:63px;     */
}
ul.img-box li:nth-child(2) ,ul.img-box li:nth-child(3){
    float: right;
    padding-top: 6px;
}
ul.img-box li:nth-child(2){
    margin-left: 20px;
}
.refersh-section{
    width:100%;
    display: inline-block;    
}
.font-30{
    font-size: 30px;
    font-weight: 500;
    color:#111E81;
    text-transform: uppercase;
}
.left-login img{
    max-height:320px;
 }
.imgtext{
    width:100%;
    float: left;
    height: 40px;
    background-color: #F7F8F9; 
    border: 1px solid #D5E6EC;
    border-radius: 0.25rem;
    
}
.refersh-btn{
    width:50%;
    float: left;
    height: 40px;
    outline: none;
    color:#fff;
    background:#4E9CE1;
    border: 0px solid #D5E6EC;
    margin-left: -1px;
    border-top-right-radius:0.25rem;
    border-bottom-right-radius: 0.25rem;

}
.login-form .form-control{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F7F8F9;
    background-clip: padding-box;
    border: 1px solid #D5E6EC;
    
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login-form label{
    font-weight: 400;
    margin-bottom: 1px;
}
.red{
    color:red;
    font-weight: 500;
}

.footer{
    width:100%;
    background:#111E81;
    height:95px;    
    display:block;
}
.footer p{
    text-align: center;
    color:#fff;
    margin-bottom: 0;
    font-weight: 300;
}
.helpdesk p{
    margin-bottom: 0;
    color:#fff
}
.helpdesk strong{
    color:#ffb100
}
.copyright-section{
    width:100%;
    background:rgba(0,0,0,0.5);

}

ul.footer-img{
    width:100%;
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;
   
}
.footer-img li{
    display:inline-block;    
    float: right;
    padding-left: 10px;
}
p.copyright{
    font-size: 0.9rem;
    color:#d1b7b7;    
    text-align: center;
    margin-bottom: 0;
    padding: 4.3px;
}
.signin-box svg{
    margin-top: -4px;
}

.footer-links{
    width:100%;
    list-style: none;
    margin: 0;
    padding:0;
    
    
}
.footer-links li{
    display:inline-block;
    position: relative;
    float: left;   
}
.footer-links li::after{
    position:absolute;
    content:'';
    width: 1px;
    height: 13px;
    background:#fff;    
    top:5px;
    left:100%;
    
}
.footer-links li:last-child::after{    
    content:none;  
}

.footer-links li a{
    color:#fff;
    font-size: 0.99rem;
    padding: 0 9px;
    text-decoration: none;
    font-weight: 300;
}
.footer-links li a:hover{
    color:#ededed;
}

/* login page */

#loader-section
{
    display:none;
}
.loader-section {   
    width: 100%;
    height: 100%;
    padding: 10px;
    position: fixed;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex!important;
    
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s linear;
    background:rgba(0,0,0,0.8);
    z-index: 9;   
  }
  .loader-custom {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    -webkit-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
  }
  .loader-custom:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  
/* keyFrames */
@-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 575.98px) { 
    .login-box{
        flex-direction:column-reverse;
        background: #fff;
        height: auto;
    }
    .right-login form {
        padding: 0 15px;
        width: 100%;
    }
    .left-login{
        width:100%; 
    }
    .left-login img{
       height:120px;
    }
    .right-login{
        width:100%;
        padding:10px 15px;       
    }
    .heading{
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.3;
    }
    .footer p{
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .login-form .form-control{
        height:auto;
        font-size: 0.9rem;
    }
    .login-form label {
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
    .form-group {
        margin-bottom: 10px;
    }
    ul.img-box{
        margin-bottom: 10px;
    }
    ul.img-box li:nth-child(1){
        width:100%;   
        text-align: center;  
        margin-bottom: 10px;   
    }
    ul.img-box li:nth-child(1) img{
        height:70px;    
    }
    ul.img-box li:nth-child(2) ,ul.img-box li:nth-child(3){
        width:49.91%;
        text-align: center;        
        margin: 0;
    }
    .signin-box{
        width:100%;
        border:solid #f3f3f3 1px;
        padding: 0 5px;
    }
    .signin-box .btn{
        margin-top: 7px;
    }
    .footer{
        height:auto;
    }
    ul.footer-img {  
        display: flex;
        justify-content: center;
    }
    p.helpdesk{
        width:100%;
        margin:5px 0;   
    }
    .footer-links {       
        display: flex;
        justify-content: center;
    }
    .footer-links li a {        
        font-size: 0.8rem;
    }

 }


@media (min-width: 576px) and (max-width: 767.98px) {  
    .login-box{
        flex-direction:column-reverse;
        background: #fff;
        height: auto;
    }
    .right-login form {
        padding: 0 15px;
        width: 100%;
    }
    .left-login{
        width:100%; 
    }
    .left-login img{
       height:120px;
    }
    .right-login{
        width:100%;
        padding:10px 15px;       
    }
    .heading{
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.3;
    }
    .footer p{
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .login-form .form-control{
        height:auto;
        font-size: 0.9rem;
    }
    .login-form label {
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
    .form-group {
        margin-bottom: 10px;
    }
    ul.img-box{
        margin-bottom: 10px;
    }
    ul.img-box li:nth-child(1){
        width:100%;   
        text-align: center;  
        margin-bottom: 10px;   
    }
    ul.img-box li:nth-child(1) img{
        height:70px;    
    }
    ul.img-box li:nth-child(2) ,ul.img-box li:nth-child(3){
        width:49.91%;
        text-align: center;        
        margin: 0;
    }
    .signin-box{
        width:100%;
        border:solid #f3f3f3 1px;
        padding: 0 5px;
    }
    .signin-box .btn{
        margin-top: 7px;
    }
    .footer{
        height:auto;
    }
    ul.footer-img {  
        display: flex;
        justify-content: center;
    }
    p.helpdesk{
        width:100%;
        margin:5px 0;   
    }
    .footer-links {       
        display: flex;
        justify-content: center;
    }
    
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer{
        height:auto;
    }    
    .footer-links {      
        text-align: center;
        margin-bottom: 10px;
    }    
    .footer-links li {
        display: inline-block;
        position: relative;
        float: none;
    }
    ul.footer-img {
        display:flex;
        justify-content: center;
        margin:5px 0;
    }
    .footer p {
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.8rem;
    }
    ul.img-box li:nth-child(1){
        width:100%;   
        text-align: center;  
        margin-bottom: 10px;   
    }
    ul.img-box li:nth-child(1) img{
        height:70px;    
    }
    ul.img-box li:nth-child(2) ,ul.img-box li:nth-child(3){
        width:49.91%;
        text-align: center;        
        margin: 0;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .footer{
        height:auto;
    }    
    .footer-links {      
        text-align: center;
        margin-bottom: 10px;
    }    
    .footer-links li {
        display: inline-block;
        position: relative;
        float: none;
    }
    ul.footer-img {
        display:flex;
        justify-content: center;
        margin:5px 0;
    }
    .footer p {
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.8rem;
    }
    .footer-links li a {       
        font-size: 0.8rem;
        padding: 0 7px;       
    }

    ul.img-box li{
        display:inline-block;
    }
   
    ul.img-box li:nth-child(1){
        width:100%;   
        text-align: center;  
        margin-bottom: 10px;   
    }
    ul.img-box li:nth-child(1) img{
        height:70px;    
    }
    ul.img-box li:nth-child(2) ,ul.img-box li:nth-child(3){
        width:49.91%;
        text-align: center;        
        margin: 0;
    }

 }


@media (min-width: 1200px) {  }


/* admin home page */
.topheader{
    height:40px;
    background:#01004C;
}

.bg-darkred{
    background:#AC003A;
}
.navbar{
    height:50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #f1f1f1;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #f1f1f1;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff
}

.newupdate{
    width:100%;
    height:40px;
    background:#E7E7E7;
    margin: 10px 0;
    
}
.news{
    width:100%;
    position: relative;
    
}
.updated{
    width:183px;
    height:40px;
    position: relative;
    background:#AC003A;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    float:left;
}
.updated::after{
    position:absolute;
    content: '';
    top: 0;
    bottom:0;
    left:100%;
    width: 0; 
    height: 0; 
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #AC003A;
    margin:auto;  
}
.marque-section{
    width:calc(100% - 184px);
    float:left;
    height:40px;
    padding-left: 10px;
}
.marque-section marquee{
    padding-top: 7px;
}
.box-shadow{
    width:100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 15px 0;
    padding:15px 15px;
}

.serach-state{
    width:100%;
    height:40px;
    background:#D1DEF0;
}
.serach-state .form-control{
   
    height:32px;
    font-size: 0.88rem;
}
.serach-state ul{
    width:100%;
    margin: 0;
    padding: 0;
}
.serach-state ul li{
    display:inline-block;
}
.serach-state ul li:first-child{
    max-width: 405px;
}
.search-input{
    position: relative;
    width:100%;

}
.search-input input{
    width:100%;
    height:35px;
    border-radius: 0.25rem;
    border:solid #555 1px;
}
.search-input button{
    position: absolute;
    width: 98px;
    height: 28px;
    top: 3.48px;
    right: 3px;
    background: #01004C;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 0.25rem;
}
