@charset "UTF-8";

@font-face
{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face
{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face
{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face
{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face
{
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 100;
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
:root {
  --label-bg-color: #dae3ec;
  --li-bdr-color:#939393;
}
.font-600
{
	font-weight:600;
}
::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background: #AC003A;
	border-radius: 10px;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover
	{
		background: #b30000;
	}

.wapper
{
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background: #F7FAFF;
	font-style: normal;
	font-size:12px;
	line-height:1.5;
}

.bg-lightblue
{
	background: #F7FAFF;
}

.bg-drakgray
{
	background: #44546A;
}

.bg-lightyellow
{
	background: #FFE699;
}


ul.set-time
{
	display:inline-block;
	list-style: none;
	margin:0;
	padding:0;
	text-align: left;
}
ul.set-time li
{
	color: #fff;
	font-size: 0.8rem;
}
ul.profile-section {
		list-style: none;
		margin: 0;
		padding: 0;
		display:inline-block;
		text-align: right;
		float:right;
}
ul.profile-section li{
	display: inline-block;
	color: #fff;
	font-size: 0.8rem;
}
ul.profile-section  li svg{
	margin-right: 5px;
}
ul.profile-section  li:nth-child(2){
	margin-right: 9px;
	margin-left: 9px;
}
ul.profile-section  li a, ul.profile-section  li{
	color: #fff;
}
/* login page */
.bdr-5{
        border-top:#111E81 solid 5px; 
    }
    .bg-login{
        width: 100%;
        background: rgba(0,0,0,0.05);
        border-radius: 5px;
        padding: 10px 0;
        background-image: linear-gradient(to right bottom, #1a2bac, #3a4fbf, #5a72ce, #7c94db, #a2b6e6, #adb8e6, #b8bae6, #c1bce6, #bf9ad2, #c474b1, #c74a83, #be124c);
    }
        .add.form-group>label {
            top: 18px;
            left: 10px;
            position: relative;
            background-color: white;
            padding: 0px 5px 0px 5px;
            font-size: 0.9rem;
            font-weight: 400!important;
        }
        .noadd.form-group>label {
            top: 36px;
            left: 10px;
            position: relative;
            background-color: white;
            padding: 0px 5px 0px 5px;
            font-size: 0.9rem;
            transition: 0.2s;
            pointer-events:none;
            font-weight: 400!important;
        }
        .noadd.form-group.label-animate>label {
            top: 18px !important;
            left: 10px !important;
            font-size: 0.9rem;
        }

		.form-label-group input:not(:placeholder-shown) ~ label {
			 top: 18px !important;
            left: 10px !important;
            font-size: 0.9em;
		}
		

		.noadd.form-group.label-animate > input:-webkit-autofill ~ label {
			
			 top: 18px !important;
            left: 10px !important;
            font-size: 0.9em;
		}


        .login-box-2{            
          width: 100%;
          -webkit-display: flex;		 
          height:100%;
          -webkit-align-items: center;
          background-image: linear-gradient(to right bottom, #1a2bac, #3a4fbf, #5a72ce, #7c94db, #a2b6e6, #adb8e6, #b8bae6, #c1bce6, #bf9ad2, #c474b1, #c74a83, #be124c);
        }         
        .btn-login{
            padding: 12px 32px;
        } 
		.login-box-section{
            max-width: 730px;
			width:100%;
			box-shadow: none;           
            border-radius: 4px;
            margin: auto!important;
            background: #fff;
			
        }        
        .login-box-section .left-box{	
            width: 330px;
            padding: 0;            
        }
        .login-box-section .right-box {
			padding: 15px 15px 15px;
			max-width: 400px;
			width: 100%;			
			background: #ffffff;   
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			-webkit-box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
			-moz-box-shadow: 0 10px 34px -15px rgba(0,0,0,.24);
			box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
		}
		.login-box-section .left-box img {
			max-width: 270px;
			width: 100%;
		}       
        .login-box-section .right-box .form-group{
            margin-bottom: -1px; 
            position: relative;          
        }

		.login-form .invalid-feedback {           
			margin-top: 0;           
			position: absolute;
		}
#SingleMainContent_ddlWorkplan
{
	width:calc(100% - 20px);
}
.custom-select img
{
	width:20px;
	
}

.discription-text
{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
        .the-fieldset {           
			padding: 0px 10px 10px;
			border: 1px solid #a8a8a8;   
			border-radius: 4px;           
        }
        .the-legend {
			margin-bottom: -5px;
			border-style: none;
			border-width: 0;
			line-height: 20px;
			margin-bottom: 0;
			width: auto;
			padding: 0 10px;
			border-radius: 4px;
			padding: 5px 20px;
			border: 1px solid #AC003A;
			font-size: 16px;
			font-weight: 400;
			background: #AC003A;
			color: #ffffff;
			text-transform: uppercase;
        } 

        .heading {
            width: 100%;
            font-size: 0.94rem;
            color: #AC003A;
            font-weight: 600;
            line-height: 1.5;
            text-align: center;
            padding: 0 5px;
        }
.btn-login{    
    width:100%;
    background-color:#007bff; /* Green */
    background: #AC003A;
    border: none;
    color: white;
   padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}

	.btn-login:hover
	{
		box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
		background-color: #111e81;
	}

ul.img-box
{
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px;
	list-style: none;
	display: inline-block;
}

	ul.img-box li
	{
		display: inline-block;
	}

		ul.img-box li:nth-child(1) img
		{
			/* height:63px;     */
		}

		ul.img-box li:nth-child(2), ul.img-box li:nth-child(3)
		{
			float: right;
			padding-top: 6px;
		}

		ul.img-box li:nth-child(2)
		{
			margin-left: 20px;
		}

.refersh-section
{
	width: 100%;
	display: inline-block;
}

.font-30
{
	font-size: 30px;
	font-weight: 500;
	color: #111E81;
	text-transform: uppercase;
}


.imgtext
{
	width: 100%;
	float: left;
	height: 40px;
	background-color: #F7F8F9;
	border: 2px solid #111E81;
	border-radius: 0.25rem;
	text-align:center;
	
}
	.imgtext img
	{
		padding-top:2px;
	}

ul.img-box-dashboard{	
	    width: 100%;
    margin: 0 auto;
    padding: 5px 0px;
    list-style: none;
    text-align: right;
    display: flex;
    align-items: center;
}
ul.img-box-dashboard li{
    display: inline-block;
}
ul.img-box-dashboard li:nth-child(1){
    float: left;
}
ul.img-box-dashboard li:nth-child(3) img{
        margin-right: 10px;
        margin-left:10px;
}
ul.img-box-dashboard li:nth-child(4){
    padding-left: 10px;
}
ul.img-box-dashboard li:nth-child(2){
    flex: 1;
}

.refersh-btn
{
	width: 50%;
	float: left;
	height: 40px;
	outline: none;
	color: #fff;
	background: #4E9CE1;
	border: 0px solid #D5E6EC;
	margin-left: -1px;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.login-form .form-control
{
	display: block;
	width: 100%;
	height: 40px;
	padding: 0.375rem 0.75rem;
	font-size: 0.90rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #D5E6EC;
	border: 2px solid #111E81;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.login-form {
    padding: 0 15px;
}
.the-legend {
    margin-bottom: -10px;
}
.red
{
	color: red;
	font-weight: 500;
}

.footer
{
	width: 100%;
	background: #111E81;
	height: 95px;
	display: block;
}

	.footer p
	{
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		font-weight: 300;
	}

.helpdesk p
{
	margin-bottom: 0;
	color: #fff;
}

.helpdesk strong
{
	color: #ffb100;
}

.copyright-section
{
	width: 100%;
	background: rgba(0,0,0,0.5);
}

ul.footer-img
{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.footer-img li
{
	display: inline-block;
	float: right;
	padding-left: 10px;
}

p.copyright
{
	font-size: 0.9rem;
	color: #d1b7b7;
	text-align: center;
	margin-bottom: 0;
	padding: 4.3px;
}

.signin-box svg
{
	margin-top: -4px;
}

.footer-links
{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

	.footer-links li
	{
		display: inline-block;
		position: relative;
		float: left;
	}

		.footer-links li:not(:last-child) a::after
		{
			position: absolute;
			content: '';
			width: 1px;
			height: 11px;
			background: #fff;
			top: 7px;
			left: 100%;
		}

		.footer-links li:last-child::after
		{
			content: none;
		}

		.footer-links li a
		{
			color: #fff;
			font-size: 0.79rem;
			padding: 0 9px;
			text-decoration: none;
			font-weight: 300;
		}

			.footer-links li a:hover
			{
				color: #ededed;
			}

/* login page */

#loader-section
{
	display: none;
}

.loader-section
{
	top: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	position: fixed;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex!important;
	align-items: center;
	justify-content: center;
	color: #ccc;
	cursor: pointer;
	transition: 0.3s linear;
	background: rgba(0,0,0,0.8);
	z-index: 9;
}

.loader-custom
{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}

	.loader-custom:after
	{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border-left: 4px solid #FF3D00;
		border-bottom: 4px solid transparent;
		animation: rotation 0.5s linear infinite reverse;
	}

/* keyFrames */
@-webkit-keyframes rotation
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes rotation
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}


/* after login page */
.subheading
{
	color: #181264;
	font-size: 18px;
	font-weight: 600;
}

.menu__tabs
{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 30px;
	position: relative;
	z-index: 9;
}

	.menu__tabs li
	{
		float: left;
		position: relative;
		font-size: 0.99em;
	}

	.menu__tabs a
	{
		line-height: 30px;
		height: 30px;
		width: 100px;
		text-align: center;
		display: inline-block;
		color: #01004C;
		text-decoration: none;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		border: solid #01004C 1px;
	}

	.menu__tabs li a.active
	{
		color: #ffffff;
		background: #01004C;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		position: relative;
	}

		.menu__tabs li a.active::after
		{
			content: "";
			height: 0;
			width: 0;
			bottom: 0;
			margin: auto;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #01004C;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -6px;
		}

/*--------------------------
* MENU WRAPPER
---------------------------*/
/* .menu {
	margin: 5px auto;
	width: 100%;
	max-width: 600px;
	position: relative;
} */
.menu__wrapper
{
	padding: 15px;
	position: relative;
	z-index: 1;
	background: #F1F2F7;
	min-height: 20px;
	-webkit-border-radius: 0 4px 4px 4px;
	-moz-border-radius: 0 4px 4px 4px;
	border-radius: 0 4px 4px 4px;
}

	.menu__wrapper .menu__item
	{
		line-height: 1.3;
		color: #76716f;
		display: none;
	}

		.menu__wrapper .menu__item.item-active
		{
			display: block;
		}

		.menu__wrapper .menu__item p
		{
			font-size: 0.8em;
			line-height: 1.6em;
			color: #76716f;
		}

.tabs-container
{
	width: 100%;
	margin: 0 auto;
}

ul.tabs
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	background: #E8E1E3;
}

	ul.tabs li
	{
		background: none;
		color: #000;
		display: inline-block;
		padding: 3px 15px;
		font-size: 13px;
		cursor: pointer;
		position: relative;
	}

		ul.tabs li.current
		{
			background: #AC003A;
			color: #fff;
			position: relative;
			margin-bottom: -1px;
		}

			ul.tabs li.current::after
			{
				content: "";
				height: 0;
				width: 0;
				bottom: 0;
				margin: auto;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 7px solid #AC003A;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -6px;
			}

.tab-content
{
	display: none;
	background: #ededed;
	padding: 10px 15px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	border: solid 1px;
	border-color: rgba(172,0,58,0.2) transparent;
	color: #101010;
}

	.tab-content.current
	{
		display: inherit;
	}


.rch-search
{
	width: 100%;
}

.search-text
{
	width: 100px;
	float: left;
	padding-top:21px;
	padding-left: 25px;
}

	.search-text span
	{
		font-weight: 600;
	}

.search-item
{
	width: calc(100% - 100px);
	float: right;
}

	.search-item label
	{
		font-size: 0.89rem;
		position: relative;
		font-weight: 600;
		padding-left: 5px;
		top: -2px;
	}

	.search-item input[type=radio]
	{
		filter: grayscale(1);
		filter: hue-rotate(180deg);
	}

.custom input[type=radio]
{
	filter: grayscale(1);
	filter: hue-rotate(180deg);
}

.customRadio input[type="radio"] {
     position: absolute;
     left: -9999px
 }

 .customRadio input[type="radio"]+label {
     position: relative;
     padding: 1px 10px 0 21px;
     cursor: pointer;
	 font-size:12px;
 }

 .customRadio input[type="radio"]+label:before {
     content: '';
     background: #fff;
     border: 2px solid #311B92;
     height: 16px;
     width: 16px;
     border-radius: 50%;
     position: absolute;
     top: 0;
     left: 0
 }

 .customRadio input[type="radio"]+label:after {
     content: '';
     background: #311B92;
     background:#ad2039;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     position: absolute;
     top: 4px;
     left: 4px;
     opacity: 0;
     transform: scale(2);
     transition: transform 0.3s linear, opacity 0.3s linear
 }

 .customRadio input[type="radio"]:checked+label:after {
     opacity: 1;
     transform: scale(1)
 }


.custom
{
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

	.custom label
	{
		font-weight: 500!important;
		padding-left: 5px;
		padding-right: 15px;
		position: relative;
	}

.flex-height
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}

.dashboard-footer
{
	width: 100%;
	background: #01004C;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* after login page */

/* admin home page */
.topheader
{
	height: 30px;
	background: #01004C;
	display: flex;
	align-items: center;
}

	

.bg-darkred
{
	background: #AC003A;
}

.bg-lightgray
{
	background: #D1DEF0;
}


.navbar-light .navbar-nav .nav-link
{
	color: #f1f1f1;
}

.navbar-light .navbar-nav .active > .nav-link
{
	color: #f1f1f1;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
	color: #fff;
}

.newupdate
{
	width: 100%;
	height: 30px;
	background: #E7E7E7;
	margin: 5px 0;
}

.news
{
	width: 100%;
	position: relative;
}

.updated
{
	width: 183px;
	height: 30px;
	font-size: 0.9rem;
	position: relative;
	background: #AC003A;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	float: left;
}

	.updated::after
	{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 100%;
		width: 0;
		height: 0;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-left: 9px solid #AC003A;
		margin: auto;
	}

.marque-section
{
	width: calc(100% - 184px);
	float: left;
	height: 30px;
	padding-left: 10px;
}

	.marque-section marquee
	{
		padding-top: 7px;
		font-size: 13px;
	}

.box-shadow
{
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 0 0 10px 0;
	padding: 10px 10px;
	min-height: 1px;
	clear: both;
	background: #ffffff;
	float: left;
}

.serach-state
{
	width: 100%;
	height: 36px;
	/* background: #D1DEF0; */
	margin-top: 7px;
}

	.serach-state .form-control
	{
		height: 28px;
		font-size: 0.85rem;
		background: transparent;
		border: solid 1px #555;
		padding: 0.275rem 0.75rem;
		margin-top: 4px;
	}

		.serach-state .form-control option
		{
			font-size: 0.85rem;
		}

ul.searchBox
{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #D1DEF0;
	float: left;
	height: 36px;
}

	ul.searchBox li
	{
		display: inline-block;
	}

		ul.searchBox li:first-child
		{
			max-width: 405px;
			padding-left: 5px;
		}

		ul.searchBox li:last-child
		{
			padding-left: 13%;
			font-size: 0.9rem;
			font-weight: 600;
		}

ul.cooment-section
{
	list-style: none;
	margin: 0;
	padding: 0;
}

	ul.cooment-section li
	{
		display: block;
	}

.search-input
{
	position: relative;
	max-width: 300px;
	width: 100%;
	margin-top: -10px;
}

#SingleMainContent_rbtnRegIDNo
{
	margin-top: -5px;
}
/**/
.search-input input[type=text]
{
	width: 100%;
	height: 30px;
	border-radius: 0.25rem;
	border: solid #555 1px;
	padding-left: 5px;
}

.search-input input[type=submit]
{
	position: absolute;
	width: 98px;
	height: 24px;
	line-height: 10px;
	top: 3px;
	right: 3px;
	background: #01004C;
	color: #fff;
	border: 0;
	font-size: 0.85rem;
	outline: none;
	border-radius: 0.25rem;
}



.table-custom table
{
	background: #F1F2F7;
	width: 100%;
}

	.table-custom table th
	{
		color: #181264;
		font-size: 10px;
	}

	.table-custom table td
	{
		color: #181264;
		font-size: 12px;
		font-weight: 600;
	}

	.table-custom table th, .table-custom table td
	{
		border: 2px solid #fff;
		padding: 4px 5px;
		text-align: center;
		vertical-align: middle;
	}

ul.cooment-section
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.sub-title
{
	font-weight: 600;
	font-size: 18px;
}

ul.cooment-section li
{
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;
	font-size: 0.78rem;
}

	ul.cooment-section li::after
	{
		position: absolute;
		content: '\203A';
		top: -10px;
		left: 0;
		font-size: 23px;
		font-weight: bold;
		color: #AC003A;
	}

.font-16
{
	font-size: 0.99rem;
}

.font-12
{
	font-size: 12px;
}

.font-13
{
	font-size: 13px;
}

.table-colorchart td
{
	padding: 3px;
}

/* TAbs*/
ul.color-charts
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #F1F2F7;
}

	ul.color-charts li
	{
		display: inline-block;
		position: relative;
		font-size: 0.7rem;
		color: #181264;
		font-weight: 600;
	}

		ul.color-charts li:nth-child(1)
		{
		}

.libox
{
	width: 20px;
	height: 20px;
	margin: 3px;
}

.bg-green
{
	background: #70AD47;
}

.bg-yellow
{
	background: #FFC000;
}

.bg-red
{
	background: #C00000;
}


/**/

#SingleMainContent_tblDetails td, SingleMainContent_tblDetails th
{
	font-size:14px;
}

/* RCH_Daily_Review */
.search-box-shadow
{
	background: #F7F5FB;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	width: 100%;
	box-sizing: border-box;
	padding: 10px 15px;
}

	.search-box-shadow .form-control
	{
		font-size: 0.8rem;
	}

ul.report-type .form-group
{
	/*margin-bottom: 0; */
}

.report-type label
{
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 0;
}

table#SingleMainContent_tbl_Report_Desc
{
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	border: solid 1px;
	border-radius: 4px;
	margin-top: 4px;
}

	table#SingleMainContent_tbl_Report_Desc th
	{
		font-size: 0.8rem;
		font-weight: 600;
		padding: 4px 5px;
	}

	table#SingleMainContent_tbl_Report_Desc td
	{
		font-size: 0.76rem;
		padding: 4px 5px;
	}

ul.report-type
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	list-style: none;
	margin-bottom: 15px;
	position: relative;
}

	ul.report-type li
	{
		display: inline-block;
	}

		ul.report-type li .invalid-feedback
		{
			float: left;
			text-align: left;
		}
.displayDiv:empty
{
	display:none;
}
#SingleMainContent_Td1:empty
{
	display:none;
}
scroll-box .reportpanel:empty
{
	display: none;
}



ul.report-type li:nth-child(2)
{
	width: 300px;
}

ul.report-type input[type=image]
{
	padding-top: 3px;
}

ul.report-type::after
{
	position: absolute;
	content: '';
	width: calc(100% - 50px);
	height: 0.7px;
	bottom: -2px;
	left: 25px;
	background: #D1DEF0;
}

ul.form-search-box
{
	width: 100%;
	margin: 0;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
}

.scroll-box
{
	margin-top: 10px;
	max-width: 1110px;
	margin: auto;
	width: 100%;
	height: 500px;
	overflow: scroll;
	background: #F7F5FB;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	padding: 5px 5px;
	margin-bottom: 10px;
	overflow-x: hidden;
}

.form-search-box-6 li
{
	width: 15.8%;
}

.form-search-box-4 li
{
	width: 24.1%;
}

.form-search-box-5 li
{
	width: 19.1%;
}

.form-search-box-3 li
{
	width: 32.99%;
}

ul.form-search-box li
{
	display: inline-block;
}

	ul.form-search-box li label
	{
		font-weight: 600;
		font-size: 13px;
		margin-bottom: 0;
	}


.table-full-width table
{
	width: 100%;
}

.mt-35
{
	margin-top: -35px;
}
/* RCH_Daily_Review */

/* button */

.btn-search
{
	display: inline-block;
	border-radius: 25px;
	background: #01004C;
	color: #fff;
	padding: 8px 35px;
	outline: 0;
	border: 0;
	font-weight: 500;
	font-size: 0.9rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin-bottom:1px;
}

	.btn-search:hover
	{
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
a:hover
{
	text-decoration:none;
}
	.service-box {
    margin: 15px 10px auto 15px;
    text-align: center;
    transition: all 0.5s;
	text-decoration:none;
}
		.service-box:hover
		{
			
		}
.service-box .icon img {
    height: auto;
    max-width: 100%;
}
.service-box .icon {
    width: 100px;
	height:100px;
    margin: auto;
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #f00022;
	background-color:#06004c;
    position: relative;
    top: 30px;
    z-index: 3;
}
	.service-box .icon svg
	{
		height:70px;
	}
.service-box .icon:before {
    transition: all 0.5s;
    content: " ";
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #06004c;
    opacity: .6;
    z-index: -1;
}

.service-box:hover .icon:before {
    width: 140px;
    height: 140px;
}
.img-icon-box-content {
  padding: 0 20px;
  border: 1px solid #e0e0e0;
  border-radius:4px;  
  /*box-shadow: 0px 0px 60px rgb(254 78 110 / 70%);*/
  margin-bottom:15px;
}
.service-box .title {
    font-size: 18px;
    font-weight: 700;
    margin: 50px auto 30px auto;
    display: block;
    position: relative;
    color: #393939;
}
.service-box .title:before {
    transition: all 0.5s;
    content: " ";
    display: block;
    position: absolute;
    bottom: -15px;
    z-index: -1;
    height: 10px;
    border-radius: 15px;
    width: 0px;
    margin: auto;
    background-color: #06004c;
    opacity: .7;
    left: 0;
    right: 0;
}
.service-box:hover .title:before {
    width: 100px;
  
}
.service-box .wasf {
   
    color:#338731;
    margin-bottom: 10px;
}
	.service-box .wasf p
	{
		font-size: 21px;
		font-weight: 600;
		color:#666363;
		margin-bottom:5px;
	}
		.service-box .wasf span
	{
		font-size: 16px;
		font-weight: 500;
		margin-bottom:0px;
	}










.buttonDownload
{
	display: inline-block;
	outline: 0;
	border: 0;
	position: relative;
	padding: 10px 25px;
	background-color: #4CC713;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9rem;
	text-align: center;
	text-indent: 15px;
	border-radius: 25px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

	.buttonDownload:hover
	{
		background-color: #333;
		color: white;
	}

	.buttonDownload:before, .buttonDownload:after
	{
		content: ' ';
		display: block;
		position: absolute;
		left: 15px;
		top: 52%;
	}

	.buttonDownload:before
	{
		width: 10px;
		height: 2px;
		border-style: solid;
		border-width: 0 2px 2px;
		border-color: #4CC713;
	}
	/* Download arrow shape */
	.buttonDownload:after
	{
		width: 0;
		height: 0;
		margin-left: 3px;
		margin-top: -7px;
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: transparent;
		border-top-color: inherit;
		animation: downloadArrow 2s linear infinite;
		animation-play-state: paused;
		border-top-color: #4CC713;
		animation-play-state: running;
	}

	.buttonDownload:hover:before
	{
		border-color: #4CC713;
	}

	.buttonDownload:hover:after
	{
		border-top-color: #4CC713;
		animation-play-state: running;
	}

@keyframes downloadArrow
{
	0%
	{
		margin-top: -7px;
		opacity: 1;
	}

	0.001%
	{
		margin-top: -15px;
		opacity: 0;
	}

	50%
	{
		opacity: 1;
	}

	100%
	{
		margin-top: 0;
		opacity: 0;
	}
}

/* button */
#Message
{
	color: red;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;    
    margin-top: 9px;
    height:0px
}
#sidebar
{	
	max-width: 300px;
	width: 100%;
	background: #fff;
	float:left;
	
}
#contentR
{
	width:calc(100% - 300px);
	float:right;
	padding:10px 15px;
}
.left-tabs
{
	max-width: 370px;
	width: 100%;
	background: #fff;
	
}

/*.right-tabs
{
	width: calc(100% - 375px);	
	background: #f1f1f1;
	float: right;
	padding:15px 15px;
}*/
	.right-tabs span
	{
		/*font-size:14px;*/
		
	}
	.right-tabs .form-control
	{
		font-size:0.79rem;
		height:31px;

	}
	.right-tabs .table
	{
       
		margin-bottom:3px;
	}
.SingleMainContent_LinksTreeView_0
{
	font-size:0.99rem;
}
			.right-tabs table table td, .right-tabs table table th
			{
				vertical-align:middle;
			}

	.right-tabs .table td, .right-tabs .table th {
		padding: 5px 5px;		
	}
	.right-tabs td label
	{
		font-size:14px;
		margin-bottom:0px;
	}
.labelpad label
{
	 font-size:13px;
	 margin-left:3px;
}


.left-tabs ul
{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

	.left-tabs ul li
	{
		width: 100%;
		border: solid red 0px;
		border-radius: 4px;
		display: block;
	}

		.left-tabs ul li span
		{
			font-size:14px;
		}

#LinksTreeView
{
	width: 190px;
	float: left;
}
.ReportFor
{
	color:#800000;
	background:#01004C;
	color:#fff;
	text-align:center;
	width:100%;
	float:right;
	font-size:0.9rem;
	padding:5px 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
	.ReportFor:empty
	{
		display:none;
	}
#lblReportTitle
{
	font-size:20px; 
	color:Maroon; 
	font-weight:bold;

}
#SingleMainContent_LinksTreeView table
{
	width:100%;
	display:block;
	background:#d7e4f7;
	margin-bottom:5px;
}
	#SingleMainContent_LinksTreeView table td
	{
		text-align:left;
	}
#SingleMainContent_LinksTreeView td span a
{
	display:block;
	padding:5px 5px 5px 0;
	/*background:#AC003A;
	color:#fff;*/
	color:#AC003A;
	width:100%;
	font-size:0.8rem;
	text-decoration:none;
}

/* accrodian */
.accordionTitle {
  cursor: pointer;
  margin: 0;
  position: relative;
}
.accordionIcon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.accordionIcon .line-01,
.accordionIcon .line-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #272343;
  transition: 0.3s;
}
.accordionIcon .line-02 {
  transform: rotate(90deg);
}
.accordionContent {
  display: none;
}
.accordion--open .line-02 {
  transform: rotate(0deg);
}
/* end Required CSS */


.accordion {
  margin-top: -1px;
  border-top: 1px solid #01004C;
  border-bottom: 1px solid #01004C;
}
.accordionTitle {
    padding: 20px 16px;
    font-size: 1.0rem;
    transition: 0.2s;
    font-weight: 400;
    color:#101010;
}
.accordionContent {
  padding: 24px 16px 16px;
  background:#f3f3f3;
}
.accordionContent p {
  margin: 0 0 16px;
}
.accordionTitle:hover {
  background-color: #01004C;
  color: #fff;
}

.accordionTitle:hover .line-01,
.accordionTitle:hover .line-02 {
  background-color: #fff;
}

.accordion--open .accordionTitle {
  background-color: #01004C;
  color: #fff;
}

.accordion--open .line-01,
.accordion--open .line-02 {
  background-color: #fff;
}

.ans-tab
        {
            float: left;
            width: 100%;
            margin: 1% 0;
        }

        .ans-left
        {
            float: left;
            width: 100%;
            font-weight: bold;
        }

        .ans-right
        {
            float: left;
            width: 100%;
            margin: 1% 0;
        }

        .ans-eql
        {
            float: left;
            margin-right: 1%;
        }

        .line
        {
            border-bottom: 1px solid #232323;
            float: left;
            width: 100%;
        }

        .ans-02
        {
            float: left;
            clear: both;
            margin: 5px 0;
            text-align: center;
            width: 100%;
        }
        .ans-01
        {
            margin: 5px 0;
        }
        .statement
        {
            float: left;
            text-align: center;
            font-size: 0.75rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .ans-title
        {
            float: left;
            margin-right: 30px;
            font-size: 0.85rem;
            margin-top: 20px;
            font-weight: bold;
            width: 28%;
            text-align: right;
            margin-left: 20px;
        }
            .ans-title span
            {
                float: right;
            }

        .colr1
        {
            float: left;
            color: #f12b2b;
            text-align: left;
        }

        .bor1
        {
            float: left;
            border-bottom: 1px solid #f12b2b;
            margin: 5px 0;
        }

        .colr2
        {
            float: left;
            color: #3136c1;
            text-align: left;
        }

        .bor2
        {
            float: left;
            border-bottom: 1px solid #3136c1;
            margin: 5px 0;
        }

        .colr3
        {
            float: left;
            color: #d89807;
            text-align: left;
        }

        .bor3
        {
            float: left;
            border-bottom: 1px solid #d89807;
            margin: 5px 0;
        }

        .colr4
        {
            float: left;
            color: #49b73b;
            text-align: left;
        }

        .bor4
        {
            float: left;
            border-bottom: 1px solid #49b73b;
            margin: 5px 0;
        }

        .colr5
        {
            float: left;
            color: #c51212;
            text-align: left;
        }

        .bor5
        {
            float: left;
            border-bottom: 1px solid #c51212;
            margin: 5px 0;
        }

        .colr6
        {
            float: left;
            color: #2694e2;
            text-align: left;
        }

        .bor6
        {
            float: left;
            border-bottom: 1px solid #2694e2;
            margin: 5px 0;
        }

        .colr7
        {
            float: left;
            color: #43dbe2;
            text-align: left;
        }

        .bor7
        {
            float: left;
            border-bottom: 1px solid #43dbe2;
            margin: 5px 0;
        }

        .colr8
        {
            float: left;
            color: #b745ae;
            text-align: left;
        }

        .bor8
        {
            float: left;
            border-bottom: 1px solid #b745ae;
            margin: 5px 0;
        }

        .colr9
        {
            float: left;
            color: #ca6060;
            text-align: left;
        }

        .bor9
        {
            float: left;
            border-bottom: 1px solid #ca6060;
            margin: 5px 0;
        }

        .colr10
        {
            float: left;
            color: #49b73b;
            text-align: left;
        }

        .bor10
        {
            float: left;
            border-bottom: 1px solid #49b73b;
            margin: 5px 0;
        }

        .colr11
        {
            float: left;
            color: #593ab9;
            text-align: left;
        }

        .bor11
        {
            float: left;
            border-bottom: 1px solid#593ab9;
            margin: 5px 0;
        }

        .colr12
        {
            float: left;
            color: #e68d07;
            text-align: left;
        }

        .bor12
        {
            float: left;
            border-bottom: 1px solid #e68d07;
            margin: 5px 0;
        }

ul.reports-count
{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
ul.reports-count li
{
	display:inline-block;
	padding:15px 25px;
	border-radius:0.25rem;
	border:solid #f1f1f1 1px;
	text-align:center;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
	ul.reports-count li:hover
	{
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
ul.reports-count li strong
{
	
}
ul.reports-count li span
{
	display:block;
}
ul.two-li
{
	list-style:none;
	padding:0;
	margin:0;
	font-size:12px;
}
.two-li
{
	width:100%;
	display:flex;
	flex-wrap:wrap;	
}
.two-li li{
	width:50%;
    padding:4px 5px;		
		align-items: center;  
		font-size:12px;
}
.two-li li:nth-of-type(odd){
	border-top:solid var(--li-bdr-color) 0.5px;  
	border-left:solid var(--li-bdr-color) 0.5px;  
	display:flex;
	align-item:center; 
	background:var(--label-bg-color);   
	font-weight:600;	
}
.two-li li:nth-of-type(odd)>label{
	font-weight:600;   	
}
.two-li li:nth-of-type(odd)>span{
	font-weight:600;   	
}
.two-li li:nth-of-type(even) {
	 border-top:solid var(--li-bdr-color) 0.5px; 
	 border-right:solid var(--li-bdr-color) 0.5px;  	
}

.two-li.last li:nth-last-child(1) {
   border-bottom:solid var(--li-bdr-color) 0.5px;  
} 
.two-li.last li:nth-last-child(2) {
   border-bottom:solid var(--li-bdr-color) 0.5px;  
}

.li-line
{
	width:100%;
	height:1px;
	background:#939393;
	clear:both;
	float:left;
}
@media (min-width: 992px)
{
	.navbar
	{
		height: 40px;
	}

		.navbar .navbar-nav .nav-item:not(:last-child) .nav-link
		{
			border-right: 1px solid #fff;
		}

	.navbar-expand-lg .navbar-nav .nav-link
	{
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		font-size: 0.9rem;
	}

	li.nav-item .nav-link:hover
	{
		background: #01004C;
	}

	.dropdown-menu
	{
		padding: 0;
		font-size: 1rem;
		color: rgb(33, 37, 41);
		text-align: left;
		list-style: none;
		background-color: rgb(255, 255, 255);
		background: #01004C;
		border: 0px solid rgba(0, 0, 0, 0.15);
		transition: all 0.5s;
		overflow: hidden;
		transform-origin: top center;
		transform: scale(1,0);
		display: block;
	}

	.dropdown-item
	{
		display: block;
		width: 100%;
		padding: .45rem 1.5rem;
		clear: both;
		font-weight: 400;
		color: #ffffff;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border-bottom: solid #f2f2f2 0.5px;
	}

		.dropdown-item:focus, .dropdown-item:hover
		{
			color: #fff;
			text-decoration: none;
			background-color: #AC003A;
		}

	.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link
	{
		color: #fff;
		background: #01004C;
	}

	.dropdown:hover > .dropdown-menu
	{
		display: block;
		transform: scale(1);
	}
}


.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
	background-color: transparent;
}

.navbar-toggle .icon-bar
{
	background: #f1f1f1;
}

.navbar-default .navbar-toggle
{
	border: none;
}

.navbar-toggle span.icon-bar
{
	transition: all 0.15s;
}

.navbar-toggle span:nth-child(2)
{
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3)
{
	opacity: 0;
}

.navbar-toggle span:nth-child(4)
{
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4)
{
	transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3)
{
	opacity: 1;
}


/* bar chart js */
.flex-bar
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bar-section
{
	width: 32%;
}

.progress-section
{
	position: relative;
	margin: 5px;
	float: left;
	text-align: center;
}

.barOverflow
{ /* Wraps the rotating .bar */
	position: absolute;
	overflow: hidden; /* Comment this line to understand the trick */
	width: 160px;
	height: 80px; /* Half circle (overflow) */
	margin-bottom: -14px; /* bring the numbers up */
}

.bar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px; /* full circle! */
	border-radius: 50%;
	box-sizing: border-box;
	border: 20px solid #C00000; /* half gray, */
	border-bottom-color: #1CA280; /* half azure */
	border-right-color: #1CA280;
}

.centertext
{
	position: relative;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	color: #1CA280;
}

	.centertext h4
	{
		font-size: 0.9rem;
	}

		.centertext h4 span
		{
			font-size: 0.75rem;
		}

.headingtext
{
	text-align: center;
	margin-top: 5px;
	font-size: 0.8rem;
	background: #1CA280;
	vertical-align: middle;
	color: white;
	height: 21px;
	line-height: 21px;
	width: 160px;
	letter-spacing: 1px;
}
/* bar chart js */
@media only screen and (min-width: 960px)
{


	.navbar .navbar-nav .nav-item .nav-link
	{
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	/*  .navbar .navbar-nav .nav-item .nav-link {
        
        
      }
    .navbar .navbar-nav .nav-item .nav-link{
        
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .navbar .navbar-nav .nav-item .nav-link.dropdown{
        
    }
    li.nav-item a{
        position: relative;
    }
    li.nav-item .nav-link:hover{
        background:#01004C;
        
    }
    li.nav-item a:hover::after {
        content: "";
        height: 0;
        width: 0;
        bottom: 0;
        margin: auto;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #01004C;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;

       
       
    } */
}

@media (min-width: 768px)
{
	.navbar.navbar-default .navbar-nav .active:after
	{
		content: "";
		border: none;
	}

	.navbar.navbar-default .navbar-nav > li:after
	{
		content: "";
		border-right: 2px solid #000;
		position: absolute;
		height: 50%;
		right: 0;
		top: 25%;
	}

	.navbar.navbar-default .navbar-nav > li:last-child:after
	{
		border: none;
	}
}

.navbar.navbar-default .navbar-brand
{
	padding-top: 0;
}


@media (max-width: 575.98px)
{
	.login-box
	{
		flex-direction: column-reverse;
		background: #fff;
		height: auto;
	}

	.right-login form
	{
		padding: 0 15px;
		width: 100%;
	}

	.left-login
	{
		width: 100%;
	}

		.left-login img
		{
			height: 120px;
		}

	.right-login
	{
		width: 100%;
		padding: 10px 15px;
	}

	.heading
	{
		margin-top: 5px;
		font-size: 18px;
		line-height: 1.3;
	}

	.footer p
	{
		font-size: 0.9rem;
		line-height: 1.3;
	}

	.login-form .form-control
	{
		height: auto;
		font-size: 0.9rem;
	}

	.login-form label
	{
		font-weight: 600;
		margin-bottom: 5px;
		font-size: 0.9rem;
	}

	.form-group
	{
		margin-bottom: 10px;
	}

	ul.img-box
	{
		margin-bottom: 10px;
	}

		ul.img-box li:nth-child(1)
		{
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}

			ul.img-box li:nth-child(1) img
			{
				height: 70px;
			}

		ul.img-box li:nth-child(2), ul.img-box li:nth-child(3)
		{
			width: 49.91%;
			text-align: center;
			margin: 0;
		}

	.signin-box
	{
		width: 100%;
		border: solid #f3f3f3 1px;
		padding: 0 5px;
	}

		.signin-box .btn
		{
			margin-top: 7px;
		}

	.footer
	{
		height: auto;
	}

	ul.footer-img
	{
		display: flex;
		justify-content: center;
	}

	p.helpdesk
	{
		width: 100%;
		margin: 5px 0;
	}

	.footer-links
	{
		display: flex;
		justify-content: center;
	}

		.footer-links li a
		{
			font-size: 0.8rem;
		}

	.inner-login
	{
		display: flex;
		flex-direction: column;
	}

	.flex-bar
	{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.bar-section
	{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.navbar .bg-darkred
	{
		width:100%;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-bottom: 1px solid #fff;
	}
	.navbar .navbar-nav .nav-item .nav-link {
		padding-left: 5px;
		font-size: 0.75rem;
	}
	.navbar-light .navbar-nav .nav-link.active
	{
		color: #fff;
		background: #01004C;
	}
	.form-search-box-6 li
	{
		width:49.5%;
	}
	.bg-darkred {
	  background: #AC003A;
	  width: 100%;
	}
	.form-search-box-3 li {
	  width: 100%;
	}
		.form-search-box-3 li .px-3
		{
			padding-left:0px!important;
			padding-right:0px!important;
		}
	.mt-35 {
	  margin-top: 0px;
	}
	.form-search-box-5 li {
	  width: 49%;
	}
	.form-search-box-4 li {
	  width: 49.1%;
	}
	#pageR
	{
		display:flex;
		flex-wrap:wrap;
	}
	#sidebar {
	  max-width: 767px;
	  width: 100%;
	  order:1;
	}
	#contentR {
	  width: 100%;
	  float: right;
	  padding: 0px;
	  order:2;	  
	}
	.profile-icons
	{
		display:inline-block;
		float:right;
		color:#fff;
	}
	ul.profile-section
	{
		width:200px;
		position: absolute;
		display:none;		
		background:rgba(1,0,76,0.9);
		text-align:left;		   
		right: 6px;
		top: 31px;
		z-index: 9;		
		transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);		
		border-radius: 0.25rem;
        padding: 4px 0;
   }
	
		ul.profile-section::after
		{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -8px;
			right: 12px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 8px solid #AC003A;
		}

	ul.profile-section li
	{
		display:block;
		padding:4px 5px;
		font-size:11px;
		margin:0;
		border-bottom:solid #f1f1f1 1px;
	}
		ul.profile-section li:nth-child(2)
		{
			padding-left:26px;
			margin-right:0;
			margin-left:0;
		}
		.two-li li {
			width: 100%;
			padding: 4px 5px;
			align-items: center;
			border-top:solid var(--li-bdr-color) 0px;  
			border-left:solid var(--li-bdr-color) 0.5px;
			border-right:solid var(--li-bdr-color) 0.5px;
			border-bottom:solid var(--li-bdr-color) 0px;
		}
		.login-box-section {
			width: calc(100% - 20px);
			flex-direction: column;
		}
		.login-box-section .left-box {
			width: 100%;
			border-radius: 0;
			order: 2;
		}
		.login-box-section .right-box {
		width: 100%;
		order: 1;
		padding: 15px 15px;
		border-radius:0;
		}

		ul.img-box-dashboard{	
			width: 100%;
			margin: 0 auto;
			padding: 5px 0px;
			list-style: none;
			text-align: right;
			display: flex;
			align-items: center;
		}
	ul.img-box-dashboard li{
		display: inline-block;
	}
	ul.img-box-dashboard li:nth-child(1){
		float: left;
	}
	ul.img-box-dashboard li:nth-child(3) img{
			margin-right: 10px;
			margin-left:10px;
	}
	ul.img-box-dashboard li:nth-child(4){
		padding-left: 10px;
	}
	ul.img-box-dashboard li:nth-child(2){
		flex: 1;
	}

}


@media (min-width: 576px) and (max-width: 767.98px)
{
	.login-box{
		flex-direction: column-reverse;
		background: #fff;
		height: auto;
	}
	.right-login form{
		padding: 0 15px;
		width: 100%;
	}
	.left-login{
		width: 100%;
	}
	.left-login img{
		height: 120px;
	}
	.right-login{
		width: 100%;
		padding: 10px 15px;
	}
	.heading{
		margin-top: 5px;
		font-size: 18px;
		line-height: 1.3;
	}
	.footer p{
		font-size: 0.9rem;
		line-height: 1.3;
	}
	.login-form .form-control{
		height: auto;
		font-size: 0.9rem;
	}
	.login-form label{
		font-weight: 600;
		margin-bottom: 5px;
		font-size: 0.9rem;
	}
	.form-group{
		margin-bottom: 10px;
	}
	ul.img-box{
		margin-bottom: 10px;
	}
	ul.img-box li:nth-child(1){
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	ul.img-box li:nth-child(1) img{
		height: 70px;
	}
	ul.img-box li:nth-child(2), ul.img-box li:nth-child(3){
		width: 49.91%;
		text-align: center;
		margin: 0;
	}
	.signin-box{
		width: 100%;
		border: solid #f3f3f3 1px;
		padding: 0 5px;
	}
	.signin-box .btn{
		margin-top: 7px;
	}
	.footer{
		height: auto;
	}
	ul.footer-img{
		display: flex;
		justify-content: center;
	}
	p.helpdesk{
		width: 100%;
		margin: 5px 0;
	}
	.footer-links{
		display: flex;
		justify-content: center;
	}
	.navbar .bg-darkred{
		width:100%;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-bottom: 1px solid #fff;
	}
	.navbar .navbar-nav .nav-item .nav-link {
		padding-left: 5px;
		font-size: 0.75rem;
	}
	.navbar-light .navbar-nav .nav-link.active{
		color: #fff;
		background: #01004C;
	}
	.form-search-box-6 li{
		width:33%;
	}
	.bg-darkred {
		background: #AC003A;
		width: 100%;
	}
	.form-search-box-3 li .px-3	{
		padding-left:0px!important;
		padding-right:0px!important;
	}
	.custom label { 
		padding-right: 5px;
		position: relative;
	}
	.form-search-box-5 li {
		width: 49%;
	}
	.form-search-box-4 li {
		width: 49.1%;
	}
	#pageR{
		display:flex;
		flex-wrap:wrap;
	}
	#sidebar {
		max-width: 767px;
		width: 100%;
		order:1;
	}
	#contentR {
		width: 100%;
		float: right;
		padding: 0px;
		order:2;	  
	}
	.profile-icons
	{
		display:inline-block;
		float:right;
		color:#fff;
	}
	ul.profile-section
	{
		width:200px;
		position: absolute;
		display:none;		
		background:rgba(1,0,76,0.9);
		text-align:left;		   
		right: 6px;
		top: 31px;
		z-index: 9;		
		transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);		
		border-radius: 0.25rem;
        padding: 4px 0;
   }
	
		ul.profile-section::after
		{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -8px;
			right: 12px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 8px solid #AC003A;
		}

	ul.profile-section li
	{
		display:block;
		padding:4px 5px;
		font-size:11px;
		margin:0;
		border-bottom:solid #f1f1f1 1px;
	}
		ul.profile-section li:nth-child(2)
		{
			padding-left:26px;
			margin-right:0;
			margin-left:0;
		}
		

	
}
@media (min-width: 768px) and (max-width: 991.98px){
	.footer{
		height: auto;
	}
	.footer-links{
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-links li{
		display: inline-block;
		position: relative;
		float: none;
	}
	ul.footer-img{
		display: flex;
		justify-content: center;
		margin: 5px 0;
	}
	.footer p{
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 0.8rem;
	}
	ul.img-box li:nth-child(1) img{
		height: 70px;
	}
	.form-search-box-6 li{
		width:33%;
	}
	.bg-darkred {
	  background: #AC003A;
	  width: 100%;
	}
	.form-search-box-5 li {
	  width: 33%;
	}
	#sidebar {
	  max-width: 240px;
	  width: 100%;	 
	}
	#contentR {
	  width: calc(100% - 240px);
	  float: right;
	  padding: 10px 10px;	  
	}
	.profile-icons
	{
		display:none;
	}
	.img-icon-box-content {
	  min-height:125px;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
			border-bottom: 1px solid #fff;
		}
		.navbar .navbar-nav .nav-item .nav-link {
			padding-left: 5px;			
		}

		    .two-li li:nth-of-type(odd){
				width:40%;
				padding-left:2%;
			}	
			.two-li li:nth-of-type(even) {
				 width:60%;	
				 padding-left:2%;		
			}
			.two-li .form-control{
				max-width:300px;
				width:100%;
			}
	.bg-login
	{
		background-image:none;
	}
}


@media (min-width: 992px) and (max-width: 1199.98px)
{
	.footer{
		height: auto;
	}
	.footer-links{
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-links li{
		display: inline-block;
		position: relative;
		float: none;
	}
	ul.footer-img{
		display: flex;
		justify-content: center;
		margin: 5px 0;
	}
	.footer p{
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 0.8rem;
	}
	.footer-links li a{
		font-size: 0.8rem;
		padding: 0 7px;
	}
	ul.img-box li{
		display: inline-block;
	}
	ul.img-box li:nth-child(1) img{
		height: 70px;
	}
	.profile-icons{
		display:none;
	}
	.bg-darkred	{
		width:100%;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .99rem;
		padding-left: .99rem;
		font-size: 0.9rem;
	}
}


@media (min-width: 1200px){
	ul.img-box li:nth-child(1) img
	{
		/*height: 79px;*/
	}	
	.login-form .form-group label{
		font-size: 0.9rem;
		font-weight: 600;
	}
	.login-form label, .labelapply label{
		font-size: 0.9rem;
		font-weight: 600;
		margin-bottom: 0.4rem;
	}
	.nav-item a{
		font-size: 0.9rem;
	}
	.dropdown-item{
		font-size: 0.85rem;
	}
	.navbar .bg-darkred{
		width: calc(100% + 30px);
		margin: auto;
	}
	.profile-icons{
		display:none;
	}
	.two-li li:nth-of-type(odd){
		width:40%;
		padding-left:2%;
	}	
	.two-li li:nth-of-type(even) {
		 width:60%;	
		 padding-left:2%;
		
	}
	.two-li .form-control
	{
		max-width:300px;
		width:100%;
	}
	.login-box-2
	{		
		height: calc(100vh - 213px);
	}
}
