#SingleMainContent_TabContainer1_header
{
    margin-top:-25px;
}
.ajax__tab_default .ajax__tab_tab {            
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style:normal;
}        
.ajax__tab_xp .ajax__tab_header
{
        background-image:none !important;
            
}
.ajax__tab_xp .ajax__tab_body {
    font-family: 'Poppins', sans-serif;            
    border: 0px solid #999999!important;
    border-top: 0;
    padding: 10px 15px;
    background: #F1F2F7;
    width:100%;               
}
.ajax__tab_xp .ajax__tab_body:first-child
{
    height:120px;
    overflow-x:hidden;
    overflow-y:scroll;
} 
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab
{
        background-image:none !important;
        background:#01004C;
        color:#fff;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab
{
        background-image:none !important;
    padding:0;
    font-weight:500;
}       
.ajax__tab_xp .ajax__tab_header .ajax__tab_outer
{
        background-image:none !important;
    padding-right:0;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer
{
        background-image:none !important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_inner
{
        background-image:none !important;
    padding-left:0;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_inner {
    cursor:pointer;
        background-image:none !important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_outer
{
        background-image:none !important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_tab
{
        background-image:none !important;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner
{
        background-image:none !important;
    padding-left:0;
    position:relative;
           
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner::after
{
    content: "";
    height: 0;
    width: 0;
    bottom: 0;
    margin: auto;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #01004C;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
}
.ajax__tab_hover
{
    background-image:none;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab
{
    background-image:none;
    outline:none;
}
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab
{
    line-height: 30px;
    height: 30px;
    width: 100px;
    text-align: center;
    display: inline-block;
    color: #01004C;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: solid #01004C 1px;
    position:relative;
}
        